@inherits ViewModelComponentBase<Diamond.Logic.ViewModel.Weather.ViewModel.Contract.IWeatherWidgetViewModel>
<div class="weather-widget_container">
    <div class="weather-widget_container_content">
        <div class="weather-widget_container_content_detail-container">
            <span class="text">DATETIME</span>
        </div>
        <div class="weather-widget_container_content_detail-container">
            <div>
                <span class="icon">☀</span>
            </div>
            <div>
                <span class="text">30°C</span>
            </div>
        </div>
        <div class="weather-widget_container_content_detail-container">
            <div class="detail-container_item">
                <span class="icon">💧</span>
                <span class="text">65%</span>
            </div>

            <div class="divider"></div>

            <div class="detail-container_item">
                <span class="icon">🌬️</span>
                <span class="text">3.2 m/s</span>
            </div>
        </div>
    </div>
</div>
